.container::-webkit-scrollbar {
  display: none;
}
.container {
  flex-wrap: wrap;
  overflow: hidden;
  width: 100%;
  height: auto;
  gap: 15px;
}

@media (max-width: 960px) {
  .container {
    padding: 10px;
    overflow: hidden;
  }
}

@media (max-width: 764px) {
  .container {
    padding: 8px;
    overflow: hidden;
  }
}