.home {
  .imageCard {
    width: 100%;
    max-width: 1200px;
    margin-bottom: 80px;
  }

  h1 {
    font-weight: bold;
    font-family: "work sans";
    margin-bottom: 32px;
  }

  .container {
    flex-wrap: wrap;
    overflow: hidden;
    width: 100%;
    height: auto;
    gap: 15px;
  }

}

@media (max-width: 960px) {
  .home {
    overflow-x: hidden;
    .imageCard {
      width: 100%;
      margin: 15px 0;
    }

    h1 {
      text-align: center;
    }

    .container {
      padding: 10px;
    }
  }
}

@media (max-width: 764px) {
  .home {
    padding: 10px;

    .imageCard {
      width: 100%;
      margin: 10px 0;
    }

    h1 {
      margin-top: 10px;
      text-align: center;
    }

    .container {
      padding: 8px;
    }
  }
}