.link {
  text-decoration: none;
  color: black;

  .cardContent {
    box-sizing: border-box;
    padding: 16px;
    max-width: 392px;
    min-width: 200px;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 16px;
    height: auto;
    margin-top: 10px;
    border: 1px solid #e0e0e0;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);

    img {
      width: 100%;
      height: 200px;
    }

    p {
      font-family: "work sans";
      color: #4B6BFB;
      font-size: 18px;
      line-height: 20px;
      font-weight: bold;
      margin-left: 10px;
    }

    h2 {
      font-weight: 500;
      font-size: 24px;
      font-family: "work sans";
    }
    span {
      width: 100%;
      display: flex;
      align-items: center;
      gap: 20px;

      img {
        border-radius: 50%;
        width: 36px;
        height: 36px;
        border: 1px solid #fff;
      }

      p {
        font-size: 16px;
        color: #97989F;
        font-weight: 400;
        font-family: "work sans";
        line-height: 24px;
      }

      time {
        font-family: "work sans";
        font-size: 16px;
        color: #97989F;
      }
    }
  }

  .cardContent:hover {
    transform: translateY(-10px);
    transition: 0.1s;
    img {
      transform: scale(0.9);
      transition: 0.5s;
    }
  }
}

@media (max-width: 964px) {
  .link {
    display: flex;
    flex-direction: column;
    align-items: center;

    .cardContent {
      width: 80%;
    }
  }
}

@media (max-width: 764px) {
  .link {
    display: flex;
    flex-direction: column;
    align-items: center;

    .cardContent {
      width: 70%;
    }
  }
}